.itemContainer {
  border: 2px;
  border-style: solid;
  border-color: #9aa5b1;
  width: 85vw;
  padding: 20px;
  font-family: 'Roboto';
  margin-bottom: 15px;
  border-radius: 15px;
}
.heading {
  color: #52606d;
  font-family: 'Roboto';
  font-size: 24px;
}
.innerDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.para {
  color: #9aa5b1;
}
